<%- include('../partials/head') %>
<%- include('../partials/header') %>


<section id="page-header">

  <h2># About Us</h2>
  <p>Get to know us better! </p>
</section>


<section id="feature" class="section-p1">
    <div id="feature" class="fe-box">
      <img src="/img/features/f1.jpg" alt="">
      <h6>Mystery Box</h6>
    </div>
    <div id="feature" class="fe-box">
      <img src="/img/features/f2.jpg" alt="">
      <h6>Figure</h6>
    </div>
    <div id="feature" class="fe-box">
      <img src="/img/features/f3.jpg" alt="">
      <h6>Toy</h6>
    </div>
    <div id="feature" class="fe-box">
      <img src="/img/features/f4.png" alt="">
      <h6>Promotions</h6>
    </div>
    <div id="feature" class="fe-box">
      <img src="/img/features/f5.jpg" alt="">
      <h6>Order tracking</h6>
    </div>
    <div id="feature" class="fe-box">
      <img src="/img/features/f6.jpg" alt="">
      <h6>Review product</h6>
    </div>
  </section>

<div class="container">
    <section id="about-head" class="section-p1">
      <img src="/img/about.png" alt="">
      <div>
        
        <p>
          We are a group of students collaborating on a project for the CPE 241 Database System course.</p>
          <p> Our project focuses on applying our knowledge to design and create a suitable database.</p>
          <p>The website itself will simulate an online e-commerce platform, specifically for figures and toys.</p>
        
        <marquee bgcolor="#ccc" loop ="-1" scrollamount="5" width="100%" > We hope you enjoy our products as much as we enjoy offering them to you. </marquee>
      </div>
      
    </section>
    
</div>





































































<%- include('../partials/footer') %>