<%- include('../partials/head') %>

    <body>
        <div class="container">
            <div class="leftbox">
                <nav>
                    <a onclick="tabs(0)" class="tab">
                        <i class='bx bxs-user'></i>
                    </a>

                    <a onclick="tabs(1)" class="tab">
                        <i class="fa-solid fa-credit-card"></i>
                    </a>

                    <a onclick="tabs(2)" class="tab">
                        <i class="fa-solid fa-truck-fast"></i>
                    </a>

                    <a onclick="tabs(4)" class="tab">
                        <i class="fa-solid fa-gear"></i>
                    </a>
                </nav>
            </div>

            <div class="rightbox">
                <div class="profile tabshow">
                    <h1>Personal Info</h1>
                    <h2>Email</h2>
                    <input type="text" class="input" name="user[email]" value="" required>
                    <h2>First name</h2>
                    <input type="text" class="input" name="user[firstname]" value="" required>

                    <h2>Last name</h2>
                    <input type="text" class="input" name="user[lastname]" value="" required>

                    <h2>Gender</h2>
                    <select class="input" name="user[gender]" required>
                        <option value="" disabled selected>Select Gender</option>
                        <option value="Male">Male</option>

                        <option value="Female">Female</option>

                        <option value="Other">Others</option>

                    </select>

                    <button type="button" class="btn" id="cancelButton"
                        onclick="window.location.href='/admin_panel';">Cancel</button>




                    <!-- <button class="btn">Add</button> -->

                </div>

                <div class="payment tabshow">
                    <h1>Payment Info</h1>
                    <h2>Payment Type</h2>
                    <select name="payment[payment_type]" id="selectPaymentType" required>
                        <option value="" disabled selected>Select Payment</option>
                    </select>



                    <h2>Cardholder name</h2>
                    <input type="text" class="input" name="payment[account_name]">

                    <h2>Card number</h2>
                    <input type="text" class="input" name="payment[account_number]">

                    <h2>Expiration date</h2>
                    <input type="text" class="input" name="payment[payment_expiry_date]">
                    
                    <button type="button" class="btn" id="cancelButton"
                        onclick="window.location.href='/admin_panel';">Cancel</button>

                    <!-- <button class="btn">Add</button> -->

                </div>

                <div class="Address tabshow" id="addressPage1">
                    <h1>Address Info</h1>

                    <h2>Address name</h2>
                    <input type="text" class="input" value="" name="address[address_name]" placeholder="Enter a new address"
                        required>



                    <h2>Address line1</h2>
                    <input type="text" class="input" value="" name="address[address_line1]" required>

                    <h2>Address line2</h2>
                    <input type="text" class="input" value="" name="address[address_line2]">

                    <h2>Country</h2>
                    <select id="country" name="address[country_name]" required onchange="showProvinces()">
                        <option value="" disabled selected>Select Country</option>
                        <option value="Thailand">Thailand</option>
                    </select>

                    <button class="btn" onclick="nextPage()">Next</button>

                    <button type="button" class="btn" id="cancelButton"
                        onclick="window.location.href='/admin_panel';">Cancel</button>
                </div>

                <div class="Address tabshow" id="addressPage2" style="display: none;">
                    <h1>Address Info</h1>

                    <h2>Province</h2>
                    <select id="province" name="address[province]" required onchange="showAmphoes()">
                        <option value="" disabled selected>Select Province</option>
                        <!-- JS will display province -->
                    </select>

                    <h2>Amphoe</h2>
                    <select id="amphoe" name="address[amphoe]" required onchange="showDistricts()">
                        <option value="" disabled selected>Select Amphoe</option>
                        <!-- JS will display province -->
                    </select>

                    <h2>District</h2>
                    <select id="district" name="address[district]" required onchange="showPostCode()">
                        <option value="" selected>Select District</option>
                        <!-- JS will display district -->
                    </select>

                    <h2>Postal Code</h2>
                    <input type="text" class="input" id="postal_code" placeholder="Postal Code"
                        name="address[postal_code]" required>
                    <h2>Phone Number</h2>
                    <input type="text" name="address[tel_no]" class="input" value="">


                    <button class="btn" onclick="prevPage()">Previous</button>
                    <!-- <button class="btn" onclick="addAddress()">Add</button> -->

                </div>




                <div class="setting tabshow">
                    <h1>Username & Password</h1>
                    <h2>Username</h2>
                    <input type="text" class="input" value="" name="user[username]">

                    <h2>Password</h2>
                    <input type="password" name="user[password]" class="input" value="">

                    <h2>Role</h2>
                    <select name="user[user_role]" class="input">
                        <option value="ADMIN">ADMIN</option>
                        <option value="PRODUCT MANAGER">PRODUCT MANAGER</option>
                        <option value="USER">USER</option>
                    </select>

                    <button id="addDataButton" class="btn">Add</button>
                    <button type="button" class="btn" id="cancelButton"
                        onclick="window.location.href='/admin_panel';">Cancel</button>
                </div>

            </div>

            <script>
                async function allowed(roles) {
                    let curUser = await axios.get("http://localhost:8080/api/Authentication/currentUser", {
                        withCredentials: true
                    });
                    if (!curUser.data) {
                        window.location.href = "/signIn";
                    }
                    else {
                        curUser = await axios.get(`http://localhost:8080/api/User/getUser/${curUser.data}`);
                        const role = curUser.data.user_role;
                        console.log('role:', role)
                        if (!roles.includes(role)) {
                            window.location.href = "/";
                        }
                    }
                }
                let roles = "<%= roles %>";
                roles = roles.split(',');
                allowed(roles);
            </script>

            <script>
                const addDataButton = document.querySelector("#addDataButton");
                async function getFormData() {
                    try {
                        let formData = {};

                        let tabshowElements = document.querySelectorAll('.tabshow');

                        tabshowElements.forEach(tabshowElement => {
                            let formElements = tabshowElement.querySelectorAll('input, select');

                            formElements.forEach(formElement => {
                                let name = formElement.getAttribute('name');
                                console.log('here', name);

                                if (formElement.tagName === 'SELECT') {
                                    let selectedOption = formElement.options[formElement.selectedIndex];
                                    let value = selectedOption.value;
                                    formData[name] = value;
                                } else {

                                    let value = formElement.value;
                                    formData[name] = value;
                                }
                                if (!formData[name] && name != 'address[address_line2]') {
                                    const [prefix] = name.split('[');
                                    throw `${prefix} field required !!!`.toUpperCase();
                                }
                            });
                        });
                        const user = {};
                        const payment = {};
                        const address = {};

                        for (const key in formData) {
                            const [prefix, fieldName] = key.split('[').map(str => str.replace(']', ''));
                            if (prefix === 'user') {
                                user[fieldName] = formData[key];
                            } else if (prefix === 'payment') {
                                payment[fieldName] = formData[key];
                            } else if (prefix === 'address') {
                                address[fieldName] = formData[key];
                            }
                        }

                        const response = await axios.post("http://localhost:8080/api/Authentication/checkUsername", {
                            username: user.username
                        });


                        const inValid = response.data.exists;
                        if (inValid) {
                            throw "Username already exist !!!".toUpperCase();
                        }

                        const data = await axios.post("http://localhost:8080/api/Admin/addUser", {
                            user: user,
                            payment: payment,
                            address: address
                        });

                        window.location.href = '/admin_panel'
                        // console.log(user, payment, address);

                    } catch (err) {
                        const existingErrorMessage = document.querySelector('.error-message');
                        if (existingErrorMessage) {
                            existingErrorMessage.parentNode.removeChild(existingErrorMessage);
                        }
                        const validateText = document.createElement('div');
                        validateText.setAttribute('class', 'error-message');
                        validateText.innerHTML = err;
                        validateText.style.color = "red";
                        validateText.style.fontWeight = "bold";
                        validateText.style.padding = "15px 0px";
                        addDataButton.style.margin = "0px"
                        addDataButton.parentNode.insertBefore(validateText, addDataButton);

                    }
                }
                addDataButton.addEventListener("click", () => {
                    getFormData();
                })

            </script>
            <script>

                const loadPaymentType = async () => {
                    const selectPaymentType = document.getElementById('selectPaymentType');
                    let allPaymentTypes = await axios.get(`http://localhost:8080/api/PaymentType/getPaymentType`);
                    allPaymentTypes = allPaymentTypes.data;
                    allPaymentTypes.forEach(payment => {
                        const option = document.createElement('option');
                        option.setAttribute('value', payment.payment_name);
                        option.innerHTML = payment.payment_name
                        selectPaymentType.appendChild(option);

                    })
                }
                loadPaymentType();
                let currentPage = 1;
                let totalPages = 2;
                const tabBtn = document.querySelectorAll('.tab');
                const tab = document.querySelectorAll('.tabshow');

                function tabs(panelIndex) {
                    currentPage = 1;
                    totalPages = 2;
                    tab.forEach(function (node) {
                        node.style.display = "none";
                    });
                    tab[panelIndex].style.display = "block";
                }
                tabs(0);



                function nextPage() {
                    document.getElementById("addressPage" + currentPage).style.display = "none";
                    currentPage++;
                    if (currentPage > totalPages) {
                        currentPage = totalPages;
                    }
                    document.getElementById("addressPage" + currentPage).style.display = "block";
                }

                function prevPage() {
                    document.getElementById("addressPage" + currentPage).style.display = "none";
                    currentPage--;
                    if (currentPage < 1) {
                        currentPage = 1;
                    }
                    document.getElementById("addressPage" + currentPage).style.display = "block";
                }

                function addAddress() {
                    // ทำสิ่งที่ต้องการเมื่อกดปุ่ม Add
                }
            </script>

            <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
            <script type="text/javascript"
                src="https://earthchie.github.io/jquery.Thailand.js/jquery.Thailand.js/dependencies/JQL.min.js"></script>
            <script type="text/javascript"
                src="https://earthchie.github.io/jquery.Thailand.js/jquery.Thailand.js/dependencies/typeahead.bundle.js"></script>
            <script type="text/javascript"
                src="https://earthchie.github.io/jquery.Thailand.js/jquery.Thailand.js/dist/jquery.Thailand.min.js"></script>
            <script src="/add_user.js"></script>
    </body>

    </html>