<%- include('../partials/head') %>

    <body>


        <section id="header">
            <a href="#"> <img src="/img/logo.png" class="logo" alt=""></a>
            <div>
                <ul id="navbar">

                    <form>
                        <div class="search">
                            <span class="search-icon material-symbols-outlined">search</span>
                            <input class="search-input" type="search" placeholder="Search">
                        </div>
                    </form>

                    <li><a href="/">Home</a></li>
                    <li><a class="active" href="/admin_panel">Dashboard</a></li>
                    <li><a href="/product_admin">Products</a></li>
                    <li><a href="/promotion_admin">Promotion</a></li>

                    <ul>
            </div>
        </section>

        <section id="page-header">

            <h2># Dashboard</h2>

        </section>

        <section id="interface">
            <h3 class="i-name">
                Dashboard
            </h3>

            <div class="values">
                <div class="val-box" id="users_page">
                    <i class="fa-solid fa-users"></i>
                    <div>
                        <h3 id="user-length">

                        </h3>
                        <span>Users</span>
                    </div>
                </div>
                <div class="val-box" id="orders_page">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <div>
                        <h3 id="orderItems-length">

                        </h3>
                        <span>Total Orders</span>
                    </div>
                </div>

                <div class="val-box" id="products_page">
                    <i class="fa-solid fa-box"></i>
                    <div>
                        <h3 id="products-length">

                        </h3>
                        <span>Product Sell</span>
                    </div>
                </div>
                <div class="val-box" id="promotions_page">
                    <i class="fa-solid fa-ticket"></i>
                    <div>
                        <h3 id="discounts-length">

                        </h3>
                        <span>Total Coupon</span>
                    </div>
                </div>
                <div class="val-box">
                    <i class="fa-solid fa-baht-sign"></i>
                    <div>
                        <h3>฿1400</h3>
                        <span>This Month</span>
                    </div>
                </div>
            </div>
        </section>


        <section id="board" class="">
            <table id="header-table" width="100%">
                <thead>
                </thead>
                <tbody>
                    <tr id="loader">
                        <td colspan="6">
                            <div class="loader"></div>
                        </td>
                    </tr>
                    <!-- <tr>
                        <td><a href="#"><i class="fa-solid fa-circle-xmark"></i></a></td>
                        <td><img src="/img/user.png"></a></li>
                        </td>
                        <td>
                            admin
                        </td>
                        <td>
                            admin@mail
                        </td>
                        <td>
                            ADMIN
                        </td>
                        <td class="edit"><a href="/edit_by_admin">Edit</a></td>
                    </tr> -->
                    <!--
                <tr>
                    <td><a href="#"><i class="fa-solid fa-circle-xmark"></i></a></td>
                    <td><img src="/img/user.png"></a></li></td>
                    <td>Anna xxxx</td>
                    <td>Ann@gmail.com</td>
                    <td>Owner</td>
                    <td class="edit"><a href="/edit_by_admin">Edit</a></td>
                    
                </tr>
                <tr>
                    <td><a href="#"><i class="fa-solid fa-circle-xmark"></i></a></td>
                    <td><img src="/img/user.png"></a></li></td>
                    <td>ALs</td>
                    <td>A@gmail</td>
                    <td>admin</td>
                    <td class="edit"><a href="/edit_by_admin">Edit</a></td>
                </tr>
                <tr>
                    <td><a href="#"><i class="fa-solid fa-circle-xmark"></i></a></td>
                    <td><img src="/img/user.png"></a></li></td>
                    <td>Tom  asssss</td>
                    <td>Tom@gmail.com</td>
                    <td>Admin</td>
                    <td class="edit"><a href="/edit_by_admin">Edit</a></td>
                </tr>
                -->

                </tbody>
            </table>
        </section>

        <!-- <script src="/loader.js" defer></script> -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
            const loadUsers = async (allUsers) => {
                const headerTable = document.querySelector("#header-table thead");
                headerTable.innerHTML = '';
                const row = document.createElement("tr");
                row.innerHTML = `
                        <td>Remove</td>
                        <td>Users</td>
                        <td>Name</td>
                        <td>Email</td>
                        <td>Role</td>
                        <td>History</td>
                        <td></td>
                        `
                headerTable.appendChild(row);



                const tableBody = document.querySelector("#board tbody");

                // Clear existing rows
                tableBody.innerHTML = '';
                for (user of allUsers) {
                    const row = document.createElement("tr");
                    row.innerHTML = `
                        <td><a href="#"><i class="fa-solid fa-circle-xmark"></i></a></td>
                        <td><img src="/img/user.png"></a></li></td>
                        <td>${user.username}</td>
                        <td>${user.email}</td>
                        <td>${user.role}</td>
                        <td class="view"><a href="/view">View</a></td>
                        <td class="edit"><a href="/edit_by_admin">Edit</a></td>
                        `
                    tableBody.appendChild(row);
                }
            }
            const loadOrders = async (allOrders) => {
                const tableBody = document.querySelector("#board tbody");

                // Clear existing rows
                tableBody.innerHTML = '';

                for (const order of allOrders) {
                    const row = document.createElement("tr");
                    row.innerHTML = `
                        <td>${order._id}</td>
                        <td>${order.productName}</td>
                        <td>${order.quantity}</td>
                        <td>${order.totalPrice}</td>
                        <td>${order.status}</td>
                        <td class="view"><a href="/view_order/${order.orderId}">View</a></td>
                        <td class="edit"><a href="/edit_order/${order.orderId}">Edit</a></td>
                    `;
                    tableBody.appendChild(row);
                }
            };
            const loadProducts = async (allProducts) => {
                const headerTable = document.querySelector("#header-table thead");
                headerTable.innerHTML = '';
                const row = document.createElement("tr");
                row.innerHTML = `
                        <td>Remove</td>
                        <td>Id</td>
                        <td>Name</td>
                        <td>Price</td>
                        <td>Stock</td>
                        <td>Sold</td>
                        <td>History</td>
                        <td>Edit</td>
                        `
                headerTable.appendChild(row);

                const tableBody = document.querySelector("#board tbody");

                // Clear existing rows
                tableBody.innerHTML = '';

                for (const product of allProducts) {
                    const row = document.createElement("tr");
                    row.innerHTML = `
                        <td><a href="#"><i class="fa-solid fa-circle-xmark"></i></a></td>
                        <td>${product._id}</td>
                        <td>${product.name}</td>
                        <td>${product.price}</td>
                        <td>${product.stock}</td>
                        <td>waiting for complete orderitems</td>
                        <td class="view"><a href="/view_product/${product.productId}">View</a></td>
                        <td class="edit"><a href="/edit_product/${product.productId}">Edit</a></td>
                    `;
                    tableBody.appendChild(row);
                }
            };

            const loadPromotions = async (allPromotions) => {
                const tableBody = document.querySelector("#board tbody");

                // Clear existing rows
                tableBody.innerHTML = '';

                for (const promotion of allPromotions) {
                    const row = document.createElement("tr");
                    row.innerHTML = `
                        <td>${promotion.promotionId}</td>
                        <td>${promotion.promotionName}</td>
                        <td>${promotion.discount}</td>
                        <td>${promotion.startDate}</td>
                        <td>${promotion.endDate}</td>
                        <td class="view"><a href="/view_promotion/${promotion.promotionId}">View</a></td>
                        <td class="edit"><a href="/edit_promotion/${promotion.promotionId}">Edit</a></td>
                    `;
                    tableBody.appendChild(row);
                }
            };
        </script>
        <script>

            const allowedRole = ["ADMIN"];
            const allProducts = document.querySelector("#products_page");
            const allPromotions = document.querySelector("#promotions_page");
            const allUsers = document.querySelector("#users_page");
            const allOrders = document.querySelector("#orders_page");


            const loadData = async () => {
                let curUser = await axios.get("http://localhost:8080/api/Authentication/currentUser", {
                    withCredentials: true
                });
                // console.log(curUser.data)
                if (!curUser.data) {
                    window.location.href = "/"
                }
                else {
                    curUser = await axios.get(`http://localhost:8080/api/User/getUser/${curUser.data}`)
                    const role = curUser.data.role;
                    // console.log("role", role);
                    if (allowedRole.includes(role)) {
                        let users = await axios.get("http://localhost:8080/api/User/getUsers", {
                            withCredentials: true
                        })

                        users = users.data;
                        let orderItems = await axios.get("http://localhost:8080/api/OrderItem/getAllOrderItem");
                        orderItems = orderItems.data;
                        let discounts = await axios.get("http://localhost:8080/api/Discount/getDiscount");
                        discounts = discounts.data;
                        let products = await axios.get("http://localhost:8080/api/Product/getProduct");
                        products = products.data;
                        let userLength = document.querySelector("#user-length");
                        userLength.innerHTML = users.length;
                        let orderItemsLength = document.querySelector("#orderItems-length");
                        orderItemsLength.innerHTML = orderItems.length;
                        let productLength = document.querySelector("#products-length")
                        productLength.innerHTML = products.length;
                        let discountLength = document.querySelector("#discounts-length")
                        discountLength.innerHTML = discounts.length;

                        loader.classList.add("loader-hidden");

                        loader.addEventListener("transitionend", () => {
                            document.body.removeChild("loader");
                        })

                        const rowLoader = document.querySelector("#loader")
                        rowLoader.remove();
                        loadUsers(users);
                        allUsers.addEventListener("click", () => {
                            // console.log("here");
                            // window.location.href = "/product_admin"
                            loadUsers(users);

                        })

                        allOrders.addEventListener("click", () => {
                            // console.log("here");
                            // window.location.href = "/product_admin"
                            // loadOrders(orderItems);
                        })

                        allProducts.addEventListener("click", () => {
                            // console.log("here");
                            // window.location.href = "/product_admin"
                            // console.log(allProducts);
                            loadProducts(products);
                        })

                        allPromotions.addEventListener("click", () => {
                            // console.log("here");
                            // window.location.href = "/promotion_admin"
                            // loadPromotions(discounts);
                        })


                    }
                    else {
                        console.log("Permission not allowed");
                        window.location.href = "/"
                    }
                }
            }

            loadData();

        </script>
        <%- include('../partials/footer') %>