<%- include('../partials/head') %>

    <body>


        <section id="header">
            <a href="#"> <img src="/img/logo.png" class="logo" alt=""></a>
            <div>
                <ul id="navbar">

                    <form>
                        <div class="search">
                            <span class="search-icon material-symbols-outlined">search</span>
                            <input class="search-input" type="search" placeholder="Search">
                        </div>
                    </form>

                    <li><a href="/">Home</a></li>
                    <li><a class="active" href="/admin_panel">Dashboard</a></li>
                    <li><a href="/product_admin">Products</a></li>
                    <li><a href="/promotion_admin">Promotion</a></li>

                    <ul>
            </div>
        </section>

        <section id="page-header">

            <h2># Dashboard</h2>

        </section>

        <section id="interface">
            <h3 class="i-name">
                Dashboard
            </h3>

            <div class="values">
                <div class="val-box">
                    <i class="fa-solid fa-users"></i>
                    <div>
                        <h3 id="user-length">

                        </h3>
                        <span>Users</span>
                    </div>
                </div>
                <div class="val-box">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <div>
                        <h3 id="orderItems-length">

                        </h3>
                        <span>Total Orders</span>
                    </div>
                </div>

                <div class="val-box" id="product_page">
                    <i class="fa-solid fa-box"></i>
                    <div>
                        <h3 id="products-length">

                        </h3>
                        <span>Product Sell</span>
                    </div>
                </div>
                <div id="promotion_page" class="val-box">
                    <i class="fa-solid fa-ticket"></i>
                    <div>
                        <h3 id="discounts-length">

                        </h3>
                        <span>Total Coupon</span>
                    </div>
                </div>
                <div class="val-box">
                    <i class="fa-solid fa-baht-sign"></i>
                    <div>
                        <h3>฿1400</h3>
                        <span>This Month</span>
                    </div>
                </div>
            </div>
        </section>


        <section id="board" class="">
            <table id="user-table" width="100%">
                <thead>
                    <tr>
                        <td>Remove</td>
                        <td>Users</td>
                        <td>Name</td>
                        <td>Email</td>
                        <td>Role</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>

                    <!-- <tr>
                        <td><a href="#"><i class="fa-solid fa-circle-xmark"></i></a></td>
                        <td><img src="/img/user.png"></a></li>
                        </td>
                        <td>
                            admin
                        </td>
                        <td>
                            admin@mail
                        </td>
                        <td>
                            ADMIN
                        </td>
                        <td class="edit"><a href="/edit_by_admin">Edit</a></td>
                    </tr> -->
                    <!--
                <tr>
                    <td><a href="#"><i class="fa-solid fa-circle-xmark"></i></a></td>
                    <td><img src="/img/user.png"></a></li></td>
                    <td>Anna xxxx</td>
                    <td>Ann@gmail.com</td>
                    <td>Owner</td>
                    <td class="edit"><a href="/edit_by_admin">Edit</a></td>
                    
                </tr>
                <tr>
                    <td><a href="#"><i class="fa-solid fa-circle-xmark"></i></a></td>
                    <td><img src="/img/user.png"></a></li></td>
                    <td>ALs</td>
                    <td>A@gmail</td>
                    <td>admin</td>
                    <td class="edit"><a href="/edit_by_admin">Edit</a></td>
                </tr>
                <tr>
                    <td><a href="#"><i class="fa-solid fa-circle-xmark"></i></a></td>
                    <td><img src="/img/user.png"></a></li></td>
                    <td>Tom  asssss</td>
                    <td>Tom@gmail.com</td>
                    <td>Admin</td>
                    <td class="edit"><a href="/edit_by_admin">Edit</a></td>
                </tr>
                -->

                </tbody>
            </table>
        </section>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>

            const allowedRole = ["ADMIN"];
            const productSell = document.querySelector("#product_page");
            productSell.addEventListener("click", () => {
                // console.log("here");
                window.location.href = "/product_admin"
            })

            const promotionSell = document.querySelector("#promotion_page");
            promotionSell.addEventListener("click", () => {
                // console.log("here");
                window.location.href = "/promotion_admin"
            })



            const loadData = async () => {
                let curUser = await axios.get("http://localhost:8080/api/Authentication/currentUser", {
                    withCredentials: true
                });
                // console.log(curUser)
                curUser = await axios.get(`http://localhost:8080/api/User/getUser/${curUser.data}`)
                const role = curUser.data.role;
                // console.log("role", role);
                if (allowedRole.includes(role)) {
                    let allUsers = await axios.get("http://localhost:8080/api/User/getUsers", {
                        withCredentials: true
                    })
                    allUsers = allUsers.data;
                    let orderItems = await axios.get("http://localhost:8080/api/OrderItem/getAllOrderItem");
                    orderItems = orderItems.data;
                    let discounts = await axios.get("http://localhost:8080/api/Discount/getDiscount");
                    discounts = discounts.data;
                    let products = await axios.get("http://localhost:8080/api/Product/getProduct");
                    products = products.data;
                    let userLength = document.querySelector("#user-length");
                    userLength.innerHTML = allUsers.length;
                    let orderItemsLength = document.querySelector("#orderItems-length");
                    orderItemsLength.innerHTML = orderItems.length;
                    let productLength = document.querySelector("#products-length")
                    productLength.innerHTML = products.length;
                    let discountLength = document.querySelector("#discounts-length")
                    discountLength.innerHTML = discounts.length;

                    const userTable = document.querySelector("#user-table");
                    const tableBody = document.querySelector("#user-table tbody");

                    for (user of allUsers) {
                        const row = document.createElement("tr");
                        row.innerHTML = `
                        <td><a href="#"><i class="fa-solid fa-circle-xmark"></i></a></td>
                        <td><img src="/img/user.png"></a></li></td>
                        <td>${user.username}</td>
                        <td>${user.email}</td>
                        <td>${user.role}</td>
                        <td class="edit"><a href="/edit_by_admin">Edit</a></td>
                        `
                        tableBody.appendChild(row);
                    }

                }
                else {
                    window.location.href = "/"
                }
                // const curUserIdId = await axios.get("http://localhost:8080/api/Authentication/currentUser", {
                //     withCredentials: true
                // });
                // console.log("curusers inadmin", curUserIdId)
                // const users = await axios.get("http://localhost:8080/api/User/getUsers", {
                //     withCredentials: true
                // });
                // console.log("users inadmin", users.data)
            }

            loadData();
            // const users = await axios.get("http://localhost:8080/api/User/getUser");
            // const products = await axios.get("http://localhost:8080/api/Product/getProduct");
            // const orderItems = await axios.get("http://localhost:8080/api/OrderItem/getAllOrderItem");
            // const discounts = await axios.get("http://localhost:8080/api/Discount/getDiscount");
        </script>
        <%- include('../partials/footer') %>