<%- include('../partials/head') %>
    <%- include('../partials/header') %>
        <section id="page-header">
            <h2># Collection</h2>
            <p>Save more with coupons & up to 70% off! </p>
        </section>
        <section id="cart" class="">
            <table width="100%">
                <thead>
                    <tr>
                        <td>Remove</td>
                        <td>Image</td>
                        <td>Product</td>
                        <td>Price</td>
                        <td>Quantity</td>
                        <td>Subtotal</td>
                    </tr>
                </thead>
                <tbody></tbody> <!-- This will be populated dynamically -->
            </table>
        </section>
        <section id="cart-add" class="section-p1">
            <div id="coupon">
                <h3>Apply coupon</h3>
                <div>
                    <input type="text" placeholder="Enter Your Coupon">
                    <button class="normal"><strong>Apply</strong></button>
                </div>
            </div>
            <div id="subtotal">
                <h3>Cart Totals</h3>
                <table></table>
                <button class="normal"><strong>Proceed to check out</strong></button>
            </div>
        </section>
        <div class="popup" id="address-popup">
            <div class="popup-content">
                <h3>Your Address</h3>
                <ul id="address-list">
                    <!-- Address list will appear here! -->
                </ul>

                <div class="popup-buttons">
                    <button class="normal" id="cancel-btn">Cancel</button>
                    <button class="normal" id="confirm-btn">Confirm</button>
                </div>
            </div>
        </div>
        </section>

        <script src="Popup-Address.js"></script>
        <script src="cart.js"></script>
        <%- include('../partials/footer') %>