<%- include('../partials/head') %>
    <%- include('../partials/header') %>
        <section id="page-header">
            <h2># Collection</h2>
            <p>Save more with coupons & up to 70% off! </p>
        </section>
        <section id="cart" class="">
            <table width="100%">
                <thead>
                    <tr>
                        <td>Remove</td>
                        <td>Image</td>
                        <td>Product</td>
                        <td>Price</td>
                        <td>Quantity</td>
                        <td>Subtotal</td>
                    </tr>
                </thead>
                <tbody></tbody> <!-- This will be populated dynamically -->
            </table>
        </section>
        <section id="cart-add" class="section-p1">
            <div id="left-box">
                <div id="address">
                    <h3>Apply Address</h3>
                    <div>
                        <p id="user-address">Choose Your Address</p>
                        <button class="normal" id="change-address-btn"><strong>Change</strong></button>
                    </div>
                </div>
                <div id="payment">
                    <h3>Payment Method</h3>
                    <div>
                        <p id="user-payment">Choose Your Payment</p>
                        <button class="normal" id="change-payment-btn"><strong>Change</strong></button>
                    </div>
                </div>
            </div>

            <div id="subtotal">
                <h3>Cart Totals</h3>
                <table></table>
                <button class="normal"><strong>Proceed to check out</strong></button>
            </div>


        </section>


        <!-- Popup for address selection -->
        <div class="popup" id="address-popup">
            <div class="popup-content">
                <h3>Your Address</h3>
                <ul id="address-list">
                    <!-- Address list will appear here! -->
                </ul>

                <div class="popup-buttons">
                    <button class="normal" id="cancel-adress-btn">Cancel</button>
                    <button class="normal" id="confirm-address-btn">Confirm</button>
                </div>
            </div>
        </div>

        <!-- Popup for payment selection -->
        <div class="popup" id="payment-popup">
            <div class="popup-content">
                <h3>Your Payment</h3>
                <ul id="payment-list">
                    <!-- Payment list will appear here! -->
                </ul>

                <div class="popup-buttons">
                    <button class="normal" id="cancel-payment-btn">Cancel</button>
                    <button class="normal" id="confirm-payment-btn">Confirm</button>
                </div>
            </div>
        </div>

        <script src="Popup-Address.js"></script>
        <script src="cart.js"></script>
<%- include('../partials/footer') %>