<%- include('../partials/head') %>
<%- include('../partials/header') %>

<div class="container">
    <section id="page-header">
       <h2> #LET'S TALK</h2>
    
  </section>
</div>

<section id="contact-details" class="section-p1">
    <div class="details">
      <span>GET IN TOUCH</span>
      <h2>Visit one of our agency locations or contact us today</h2>
      <h3>Head Office</h3>
      <div>
        <li>
          <i class="material-icons">map</i>
          <p>126 Pracha Uthit Rd., Bang Mod,Bangkok 10140, Thailand.</p>
        </li>
        <li>
          <i class="material-icons">mail</i>
          <p>contact.email@example.com</p>
        </li>
        <li>
          <i class="material-icons">call</i>
          <p> +01 1233 660</p>
        </li>
        <li>
          <i class="material-icons">schedule</i>
          <p>Monday to friday : 9.00am to 16.00am .</p>
        </li>
      </div>
    </div>

    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3877.0932650365025!2d100.49310202400231!3d13.652090336729483!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e2a251bb6b0cf1%3A0xf656e94ff13324ad!2z4Lih4Lir4Liy4Lin4Li04LiX4Lii4Liy4Lil4Lix4Lii4LmA4LiX4LiE4LmC4LiZ4LmC4Lil4Lii4Li14Lie4Lij4Liw4LiI4Lit4Lih4LmA4LiB4Lil4LmJ4Liy4LiY4LiZ4Lia4Li44Lij4Li1!5e0!3m2!1sth!2sth!4v1714745398250!5m2!1sth!2sth" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>


<section id="form-details">
    <form action="">
      <span>LEAVE A MESSAGE</span>
      <h2>We love to here from you</h2>
      <input type="text" placeholder="Your Name">
      <input type="text" placeholder="E-mail">
      <input type="text" placeholder="Subject">
      <textarea name="" id="" cols="30" rows="10" placeholder="Your MESSAGE"></textarea>
      <button class="normal">Submit</button>
      
    </form>

    <div class="people">
      <div>
        <img src="/img/profile/PngItem_6275754.png" alt="">
        <p><span>John Doe</span> Senoir Marketing Manager <br>Phone: +000 123 456 789 <br>Email: john.d@gmail.com</p>
      </div>
      <div>
        <img src="/img/profile/Daco_5400315.png "alt="">
        <p><span>Tomson Hardmen</span> Senoir Finance Manager <br>Phone: +123 456 000 789 <br>Email: rechel .P@gmail.com</p>
      </div>
      <div>
        <img src="/img/profile/Daco_5511364.png" alt="">
        <p><span>Bruce Lite</span> Senior Production Manager <br>Phone: +456 000 123 789 <br>Email: bruce.L@gmail.com</p>
      </div>
      <div>
        <img src="/img/profile/Daco_4093402.png"alt="">
        <p><span>Alfred Pierson</span> Senoir Directing Manager <br>Phone: +789 123 456 000 <br>Email: rechel .P@gmail.com</p>
      </div>
    </div>

  </section>





















































<%- include('../partials/footer') %>