<%- include('../partials/head') %>
<%- include('../partials/header') %>

<section id="page-header">

  <h2># Contact</h2>
  <p>dola's office locations or contact dola! </p>
</section>


<section id="contact-details" class="section-p1">
    <div class="details">
      <span>GET IN TOUCH</span>
     
      <h2>Visit one of dola's office locations or contact dola today.</h2>
      <img src="/img/dolalocation.jpg" alt="img-circle">
      <h3>DoLa's office</h3>
      <div>
        <li>
          <i class="material-icons">map</i>
          <p>126 Pracha Uthit Rd., Bang Mod,Bangkok 10140, Thailand.</p>
        </li>
        <li>
          <i class="material-icons">mail</i>
          <p>dola007@gmail.com</p>
        </li>
        <li>
          <i class="material-icons">call</i>
          <p> +01 1233 660</p>
        </li>
        <li>
          <i class="material-icons">schedule</i>
          <p>Monday to Saturday : 8:30 - 10:30 </p>
        </li>
      </div>
      
    </div>

    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3877.0932650365025!2d100.49310202400231!3d13.652090336729483!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e2a251bb6b0cf1%3A0xf656e94ff13324ad!2z4Lih4Lir4Liy4Lin4Li04LiX4Lii4Liy4Lil4Lix4Lii4LmA4LiX4LiE4LmC4LiZ4LmC4Lil4Lii4Li14Lie4Lij4Liw4LiI4Lit4Lih4LmA4LiB4Lil4LmJ4Liy4LiY4LiZ4Lia4Li44Lij4Li1!5e0!3m2!1sth!2sth!4v1714745398250!5m2!1sth!2sth" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>























































<%- include('../partials/footer') %>