<%- include('../partials/head') %>
    
    <body>
        <div class="container">
            <div class="leftbox">
                <nav>
                    <a onclick="tabs(0)" 
                    class="tab">
                    <i class="fa-solid fa-cart-plus"></i>
                    </a>
                    
                    <a onclick="tabs(1)" 
                    class="tab">
                    <i class="fa-solid fa-image"></i>
                    </a>

                    <a onclick="tabs(2)" 
                    class="tab">
                    <i class="fa-solid fa-circle-info"></i>
                    </a>

                </nav>
            </div>
            <div class="rightbox">
                <div class="profile tabshow">
                    <h1>Edit Product</h1>
    
                    <h2>Product Name</h2>
                    <input type="text" class="input" value="">

                    <h2>Category</h2>
                    <input type="text" class="input" value="">

                    <h2>Price</h2>
                    <input type="text" class="input" value="">
                    <button class="btn">Update</button>

                 
                    
                </div>

                <div class="payment tabshow">
                    <h1>Image Product</h1>
                    <h2>Image Product NO.1</h2>
                    <input type="file" accept="image/*">

                    <h2>Image Product NO.2</h2>
                    <input type="file" accept="image/*">

                    <h2>Image Product NO.3</h2>
                    <input type="file" accept="image/*">

                    <h2>Image Product NO.4</h2>
                    <input type="file" accept="image/*">
                    <button class="btn">Update</button>
                   
                   
                    
                </div>

                
                <div class="setting tabshow">
                    <h1>Product Detail</h1>
                    <h2>Detail</h2>
                    <input type="text" class="input" value="">
                   
                    <button class="btn">Update</button>
                   
                </div>

            </div>
             
            <script>
                const tabBtn = document.querySelectorAll('.tab');
                const tab = document.querySelectorAll('.tabshow');
            
                function tabs(panelIndex) {
                    tab.forEach(function(node) {
                        node.style.display = "none";
                    });
                    tab[panelIndex].style.display = "block";
                }
                tabs(0);
            </script>
            
                
    </body>

</html>