<%- include('../partials/head') %>

<section id="header">
    <a href="#"> <img src="/img/logo.png" class="logo" alt=""></a>
    <div>
        <ul id="navbar">

            <form>
                <div class="search">
                    <span class="search-icon material-symbols-outlined">search</span>
                    <input class="search-input" type="search" placeholder="Search">
                </div>
            </form>

            <li><a href="/">Home</a></li>
            <li><a class="active" href="/admin_panel">Dashboard</a></li>
            <li><a href="/product_admin">Products</a></li>
            <li><a href="/promotion_admin">Promotion</a></li>

            <ul>
    </div>
</section>

<section id="page-header">

    <h2># Dashboard</h2>

</section>


<section id="interface">
    <h3 class="i-name">
        Dashboard
    </h3>
    <div class="values">
        <div class="val-box" id="users_page">
            <i class="fa-solid fa-users"></i>
            <div>
                <h3 id="user-length">

                </h3>
                <span>Users</span>
            </div>
        </div>
        <div class="val-box" id="orders_page">
            <i class="fa-solid fa-cart-shopping"></i>
            <div>
                <h3 id="orderItems-length">

                </h3>
                <span>Total Orders</span>
            </div>
        </div>

        <div class="val-box" id="products_page">
            <i class="fa-solid fa-box"></i>
            <div>
                <h3 id="products-length">

                </h3>
                <span>Product Sell</span>
            </div>
        </div>
        <div class="val-box" id="promotions_page">
            <i class="fa-solid fa-ticket"></i>
            <div>
                <h3 id="discounts-length">

                </h3>
                <span>Total Coupon</span>
            </div>
        </div>
        <div class="val-box" id="income-page">
            <i class="fa-solid fa-baht-sign"></i>
            <div>
                <h3>฿1400</h3>
                <span>This Month</span>
            </div>
        </div>
    </div>
</section>














































<%- include('../partials/footer') %>