<%- include('../partials/head') %>

<body>


    <section id="header">
        <a href="#"> <img src="/img/logo.png" class="logo" alt=""></a>
        <div>
            <ul id="navbar">

                <form>
                    <div class="search">
                        <span class="search-icon material-symbols-outlined">search</span>
                        <input class="search-input" type="search" placeholder="Search">
                    </div>
                </form>

                <li><a href="/">Home</a></li>
                <li><a href="/admin_panel">Dashboard</a></li>
                <li><a href="/product_admin">Products</a></li>
                <li><a href="/promotion_admin">Promotion</a></li>
                <li><a class="active" href="/payment_type_admin">Payment</a></li>
              
                <ul>
        </div>
    </section>

    <section id="page-header">

        <h2># Payment Type</h2>

    </section>


    <section id="button_create">
        <a href="/create_payment_type">
            <button>Add Payment Type</button>
        </a>
    </section> 
    
    <section id="cart" class="">
        <table width="100%">
            <thead>
                <tr>
                    <td>Remove</td>
                    <td>Payment Type</td>
                </tr>
            </thead>
            <tbody>
                <!-- <tr>
                    <td><a href="#"><i class="fa-solid fa-circle-xmark"></i></a></td>
                    <td><img src="/img/products/p1.jpg"></td>
                    <td>crazy deals 30% off Mystery and figure</td>
                    <td>ABC123</td>
                    <td>$ 29.99</td>
                    <td class="edit"><a href="/edit_promotion">Edit</a></td>
                    
                </tr>
                <tr>
                    <td><a href="#"><i class="fa-solid fa-circle-xmark"></i></a></td>
                    <td><img src="/img/products/p3.png"></td>
                    <td>Crybaby Crying Parade Series</td>
                    <td>Crybaby</td>
                    <td>฿590</td>
                    <td class="edit"><a href="/edit_promotion">Edit</a></td>
                </tr>
                <tr>
                    <td><a href="#"><i class="fa-solid fa-circle-xmark"></i></a></td>
                    <td><img src="/img/products/p8.jpg"></td>
                    <td>CRYBABY × Powerpuff Girls Series-Vinyl Face Plush Blind Box</td>
                    <td>Crybaby</td>
                    <td>฿430</td>
                    <td class="edit"><a href="/edit_promotion">Edit</a></td>
                </tr> -->

            </tbody>
        </table>
    </section>
    <script src="PaymentTypeAdmin.js"></script>
    <script>
        async function allowed(roles) {
          let curUser = await axios.get("http://localhost:8080/api/Authentication/currentUser", {
              withCredentials: true
          });
          if (!curUser.data) {
            window.location.href = "/signIn";
          }
          else {
            curUser = await axios.get(`http://localhost:8080/api/User/getUser/${curUser.data}`);
            const role = curUser.data.role;
            console.log('role:', role)
            if (!roles.includes(role)) {
              window.location.href = "/";
            }
            else{
                const paymentTypes = await axios.get("http://localhost:8080/api/PaymentType/getPaymentType");
        if (paymentTypes.data && paymentTypes.data.length > 0) {
            renderPaymentTypes(paymentTypes.data);
        } else {
            emptyPage("No payment type found");
        }
            }
          }
        }
        let roles = "<%= roles %>";
        roles = roles.split(',');
        allowed(roles);
         
      </script>
      
 

<%- include('../partials/footer') %>