<%- include('../partials/head') %>

    <body>


        <section id="header">
            <a href="#"> <img src="/img/logo.png" class="logo" alt=""></a>
            <div>
                <ul id="navbar">

                    <form>
                        <div class="search">
                            <span class="search-icon material-symbols-outlined">search</span>
                            <input class="search-input" type="search" placeholder="Search">
                        </div>
                    </form>

                    <li><a href="/">Home</a></li>
                    <li><a href="/signIn">Sign In/Register</a></li>
                    <li><a href="/shop">Shop</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/edit"><img src="/img/user.png"></a></li>
                    <li><a href="/cart"><img src="/img/cart.png"></a></li>
                    <ul>
            </div>
        </section>

        <section id="page-header">

            <h2># Promotions</h2>
            <p>Code for up to 30% off-All Mystery Box & Figure! </p>

        </section>

        <section id="sm-banner" class="section-p1">
            <div class="banner-box">
                <h4>crazy deals</h4>
                <h2>30% off</h2>
                <span>Mystery and figure</span>
                <button class="white">Code : ABC123</button>
            </div>
            <div class="banner-box banner-box2">
                <h4>crazy deals</h4>
                <h2>30% off</h2>
                <span>Mystery and figure</span>
                <button class="white">Code : ABC123</button>
            </div>
        </section>

        <section id="banner3">
            <div class="banner-box">
                <h2>Mystery Sale -20% Off</h2>
                <h3>Code : ADE345</h3>
            </div>

            <div class="banner-box banner-box2">
                <h2>Mystery Sale -20% Off</h2>
                <h3>Code : ADE345</h3>
            </div>

            <div class="banner-box banner-box3">
                <h2>Mystery Sale -20% Off</h2>
                <h3>Code : ADE345</h3>
            </div>
        </section>

        <%- include('../partials/footer') %>