<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="shop_admin.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">



<body>


    <section id="header">
        <a href="#"> <img src="/img/logo.png" class="logo" alt=""></a>
        <div>
            <ul id="navbar">

                <form>
                    <div class="search">
                        <span class="search-icon material-symbols-outlined">search</span>
                        <input class="search-input" type="search" placeholder="Search">
                    </div>
                </form>

                <li><a href="/">Home</a></li>
                <li><a href="/admin_panel">Dashboard</a></li>
                <li><a class="active" href="/shop_admin">Shop</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
              
                <ul>
        </div>
    </section>

    <section id="page-header">

        <h2># Shop by Admin</h2>

    </section>

    <section id="cart" class="">
        <table width="100%">
            <thead>
                <tr>
                    <td>Remove</td>
                    <td>Image</td>
                    <td>Product</td>
                    <td>Category</td>
                    <td>Price</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#"><i class="fa-solid fa-circle-xmark"></i></a></td>
                    <td><img src="/img/products/p1.jpg"></td>
                    <td>THE MONSTERS Catch Me If You Like Me Series-Vinyl Doll Gift Box</td>
                    <td>labubu</td>
                    <td>$ 29.99</td>
                    <td class="edit"><a href="/edit">Edit</a></td>
                    
                </tr>
                <tr>
                    <td><a href="#"><i class="fa-solid fa-circle-xmark"></i></a></td>
                    <td><img src="/img/products/p3.png"></td>
                    <td>Crybaby Crying Parade Series</td>
                    <td>Crybaby</td>
                    <td>฿590</td>
                    <td class="edit"><a href="/edit">Edit</a></td>
                </tr>
                <tr>
                    <td><a href="#"><i class="fa-solid fa-circle-xmark"></i></a></td>
                    <td><img src="/img/products/p8.jpg"></td>
                    <td>CRYBABY × Powerpuff Girls Series-Vinyl Face Plush Blind Box</td>
                    <td>Crybaby</td>
                    <td>฿430</td>
                    <td class="edit"><a href="/edit">Edit</a></td>
                </tr>

            </tbody>
        </table>
    </section>

  
    <footer class="section-p1">
        <div class="col">
            <img src="/img/logo_footer.png" alt="">
            <h4>Contact</h4>
            <p><strong>Address:</strong> 126 Pracha Uthit Rd., Bang Mod,Bangkok 10140, Thailand.</p>
            <p><strong>Phone:</strong> +01 1233 660</p>
            <p><strong>Hours:</strong> 8:30 - 10:30,Mon-Sat</p>
        </div>

        <div class="col">
            <h4>About</h4>
            <a href="About.html">About </a>
            <a href="Contact.html">Contact </a>
        </div>

        <div class="col">
            <h4>My Account</h4>
            <a href="/signIn">Sign In </a>
            <a href="/cart">View Cart </a>

            <!-- Need to edit -->
            <a href="Ordertracking.html">Track My Order </a>
        </div>
    </footer>
</body>

</html>