<%- include('../partials/head') %>

<section id="header">
    <a href="#"> <img src="/img/logo.png" class="logo" alt=""></a>
    <div>
        <ul id="navbar">

            <form>
                <div class="search">
                    <span class="search-icon material-symbols-outlined">search</span>
                    <input class="search-input" type="search" placeholder="Search">
                </div>
            </form>

            <li><a href="/">Home</a></li>
            <li><a class="active" href="/admin_panel">Dashboard</a></li>
            <li><a href="/product_admin">Products</a></li>
            <li><a href="/promotion_admin">Promotion</a></li>

            <ul>
    </div>
</section>

<section id="page-header">

    <!-- Need to edit -->
    <h2># User : Admin</h2>

</section>





































<%- include('../partials/footer') %>