<%- include('../partials/head') %>

<section id="header">
    <a href="#"> <img src="/img/logo.png" class="logo" alt=""></a>
    <div>
        <ul id="navbar">

            <form>
                <div class="search">
                    <span class="search-icon material-symbols-outlined">search</span>
                    <input class="search-input" type="search" placeholder="Search">
                </div>
            </form>

            <li><a href="/">Home</a></li>
            <li><a class="active" href="/admin_panel">Dashboard</a></li>
            <li><a href="/product_admin">Products</a></li>
            <li><a href="/promotion_admin">Promotion</a></li>

            <ul>
    </div>
</section>

<section id="page-header">

    <!-- Need to edit -->
    <h2># User : Admin</h2>

</section>

<section id="interface">

    <div class="values">
        <div class="val-box">
            <i class="fa-solid fa-cart-shopping"></i>
            <div>
                <h3 id="orderItems-length">

                </h3>
                <span>Total Orders</span>
            </div>
        </div>

        <div class="val-box">
            <i class="fa-solid fa-baht-sign"></i>
            <div>
                <h3>฿1400</h3>
                <span>This Month</span>
            </div>
        </div>
    </div>
</section>

<section id="board" class="">
    <table id="user-table" width="100%">
        <thead>
            <tr>
                <td>Remove</td>
                <td>Order_ID</td>
                <td>Product_Name</td>
                <td>Price</td>
                <td>Quantity</td>
                <td>Status</td>
                <td>Payment</td>
            </tr>
        </thead>















    </table>
</section>



































<%- include('../partials/footer') %>