<footer class="section-p1">
    <div class="col">
        <img src="/img/logo_footer.png" alt="">
        <h4>Contact</h4>
        <p><strong>Address:</strong> 126 Pracha Uthit Rd., Bang Mod,Bangkok 10140, Thailand.</p>
        <p><strong>Phone:</strong> +01 1233 660</p>
        <p><strong>Hours:</strong> 8:30 - 10:30,Mon-Sat</p>
    </div>

    <div class="col">
        <h4>About</h4>
        <a href="About.html">About </a>
        <a href="Contact.html">Contact </a>
    </div>

    <div class="col">
        <h4>My Account</h4>
        <a href="/signIn">Sign In </a>
        <a href="/cart">View Cart </a>

        <!-- Need to edit -->
        <a href="Ordertracking.html">Track My Order </a>
        <a href="/admin_panel">Admin Panel</a>
    </div>
</footer>
</body>

</html>