@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}

h1 {
  font-size: 50px;
  line-height:64px; /* ลดขนาดเล็กลง */
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 64px; /* ปรับเป็นตัวหนา */
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
  color: #222;
  
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0; /* ปรับเว้นระยะห่าง */
}

q{
    quotes: none;
    font-size: 16px;
    font-weight: 700;
    color: #222;
    margin: 15px 0 20px 0; /* ปรับเว้นระยะห่าง */
    
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}


.logo {
  width: 150px;
  height: auto;
}

/* header start */
#header{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 20px 80px;
    background : #E3E6F3;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999; /* ให้เรียงหน้า */
    position: sticky;
    top: 0;
    left: 0;
}

/* Search Bar */

.search {
--padding: 14px;
  width: max-content;
  display: flex;
  align-items: center;
  padding: var(--padding);
  border-radius: 28px;
  background: #f6f6f6;
}

.search-input {
  border: none;
  background: none;
  outline: none;
  font-size: 16px;
  color: #1a1a1a;
  margin-left: var(--padding);
}

.search-input::placeholder {
  position: relative;
  top: 2px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ปรับระยะห่างของ navbar */
#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;

}

/* ปรับสีตัวอักษรของ navbar */
#navbar li a {
    text-decoration: none;
    font-size:16 px;
    font-weight:600;
    color :#1a1a1a;
    transition: 0.3s ease;
}

/*เม้าไปชี้เเล้วเปลี่ยนสี และขีดเส้นใต้*/
#navbar li a:hover {
    color: #6f56ec;
    border-bottom: 2px solid #6f56ec;
}

/*Home Page*/

/*banner*/
#hero{
    background-image :url("/Frontend/img/banner_index.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;
}
#hero h1{
    color: 	#ffffff;
}

/*ปุ่ม*/
#hero button{
    margin-left: 120px; 
    padding: 10px 25px; /* ปรับขนาดของปุ่ม */
    background: #FF8FAB;
    background-repeat: no-repeat; /* ลบการทำซ้ำ */
    color: #ffffff;
    border: none; /* ลบเส้นขอบ */
    border-radius: 20px; /* ความโค้ง */
    margin-top: 20px; 
    cursor: pointer;
    font-weight:700; 
    font-size: 15px;
    
}

#feature img {
  width: 100px; /* ปรับความกว้างของรูปเป็น 100px */
  height: auto; /* ทำให้ความสูงของรูปปรับตามอัตราส่วน */
}

#feature {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

#feature.fe-box{
  width: 180px;
   text-align: center;
   padding:25px 15px ;
   box-shadow :20px 20px 34px rgba(0,0,0,0.03);
   border :1px solid #cce7d0;
   border-radius: 4px;
   margin: 15px 0;
}

#feature.fe-box img{
    width: 100%;
    margin: bottom 10px;
}
#feature.fe-box h6{
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius:4px;
    color: #1a1a1a;
    background-color: #fddde4;
}