@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  /* ลดขนาดเล็กลง */
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 64px;
  /* ปรับเป็นตัวหนา */
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
  color: #222;

}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
  /* ปรับเว้นระยะห่าง */
}

q {
  quotes: none;
  font-size: 16px;
  font-weight: 700;
  color: #222;
  margin: 15px 0 20px 0;
  /* ปรับเว้นระยะห่าง */

}

.section-p1 {

  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}


.logo {
  width: 150px;
  height: auto;
}

/* header start */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #E3E6F3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  /* ให้เรียงหน้า */
  position: sticky;
  top: 0;
  left: 0;
}

/* Search Bar */

.search {
  --padding: 14px;
  width: max-content;
  display: flex;
  align-items: center;
  padding: var(--padding);
  border-radius: 28px;
  background: #f6f6f6;
}

.search-input {
  border: none;
  background: none;
  outline: none;
  font-size: 16px;
  color: #1a1a1a;
  margin-left: var(--padding);
}

.search-input::placeholder {
  position: relative;
  top: 2px;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ปรับระยะห่างของ navbar */
#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;

}

/* ปรับสีตัวอักษรของ navbar */
#navbar li a {
  text-decoration: none;
  font-size: 16 px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

/*เม้าไปชี้เเล้วเปลี่ยนสี*/
#navbar li a:hover,
#navbar li a.active {
  color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  border-bottom: 2px solid;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#page-header {
  background-image: url("/img/banner_promotion.png");
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}

.i-name {
  color: #444a53;
  padding: 30px 30px 0 30px;
  font-size: 24px;
  font-weight: 700;
}

/* ระยะ box */
.values {
  color: #444a53;
  padding: 30px 30px 0 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.values .val-box {
  background: #E3E6F3;
  width: 235px;
  padding: 16px 20px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
}

.values .val-box:hover {
  background: #babcc8;

}



.values .val-box i {
  font-size: 25px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  margin-right: 15px;
}

.values .val-box:nth-child(1) i {
  background: #7B74EC;
}

.values .val-box:nth-child(2) i {
  background: #5C8AF0;
}

.values .val-box:nth-child(3) i {
  background: #E45D99;
}

.values .val-box:nth-child(4) i {
  background: #74daec;
}

.values .val-box:nth-child(5) i {
  background: #ADD495;
}




.values .val-box h3 {
  font-size: 18px;
  font-weight: 600;
}

.values .val-box span {
  font-size: 15px;
  color: #828997;
}

/*ตาราง user*/
#board table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
  margin-top: 20px;
}

#board table img {
  width: 30px;
  height: auto;
}

#board table td:nth-child(1) {
  width: 150px;
  text-align: center;
}

#board table td:nth-child(2) {
  width: 150px;
  text-align: center;
}

#board table td:nth-child(3) {
  width: 350px;
  text-align: center;


}

#board table td:nth-child(4),
#board table td:nth-child(5),
#board table td:nth-child(6),
#board table td:nth-child(7),
#board table td:nth-child(8) {
  width: 150px;
  text-align: center;
}



#board table td:nth-child(5) input {
  width: 70px;
  padding: 10px 5px 10px 15px;
}

#board table thead {
  border: 1px solid #e2e2e1;
  border-left: none;
  border-right: none;
}

#board table thead td {
  padding: 18px 0;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;

}

#board table tbody tr td {
  padding-top: 15px;
}

#board table tbody td {
  font-size: 13px;

}


/*ท้ายเว็บ*/
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo {
  margin-bottom: 30px;
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}

footer p {
  font-size: 14px;
  margin-bottom: 0 0 8px 0;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .col img {
  width: 200px;
  /* ปรับขนาดความกว้างของโลโก้ */
  height: auto;
  /* รักษาสัดส่วนของรูปภาพ */
}

.no-product {
  text-align: center;
  color: #b7b8bd;
  font-size: x-large;
  font-weight: bold;
  padding: 150px 0;
}

.remove {
  color: red;
  cursor: pointer;
  scale: 1.5;
  transition: 0.4s;
}

.remove:hover {
  color: #541010;
}

#button_create {

  padding: 30px 30px 10px;


}

#button_create button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  background: #7B74EC;
  color: #fff;
  border-radius: 70px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;

}

#button_create button:hover {
  background: #48139c;
}

.selection {
  padding: 7px;
  background-color: #eafffa;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  position: relative;
}