@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  /* ลดขนาดเล็กลง */
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 64px;
  /* ปรับเป็นตัวหนา */
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
  color: #222;

}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
  /* ปรับเว้นระยะห่าง */
}

q {
  quotes: none;
  font-size: 16px;
  font-weight: 700;
  color: #222;
  margin: 15px 0 20px 0;
  /* ปรับเว้นระยะห่าง */

}

.section-p1 {

  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}


.logo {
  width: 150px;
  height: auto;
}

/* header start */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #E3E6F3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  /* ให้เรียงหน้า */
  position: sticky;
  top: 0;
  left: 0;
}

/* Search Bar */

.search {
  --padding: 14px;
  width: max-content;
  display: flex;
  align-items: center;
  padding: var(--padding);
  border-radius: 28px;
  background: #f6f6f6;
}

.search-input {
  border: none;
  background: none;
  outline: none;
  font-size: 16px;
  color: #1a1a1a;
  margin-left: var(--padding);
}

.search-input::placeholder {
  position: relative;
  top: 2px;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ปรับระยะห่างของ navbar */
#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;

}

/* ปรับสีตัวอักษรของ navbar */
#navbar li a {
  text-decoration: none;
  font-size: 16 px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

/*เม้าไปชี้เเล้วเปลี่ยนสี และขีดเส้นใต้*/
#navbar li a:hover, 
#navbar li a.active {
     color: #088178;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    border-bottom: 2px solid;
    background : #088178;
    position: absolute;
    bottom: -4px;
    left:20px;
}


/*Home Page*/

/*banner*/
#hero {
  background-image: url("/img/banner_index.png");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4 {
  padding-bottom: 15px;
}

#hero h1 {
  color: #ffffff;
}

/*ปุ่ม*/
#hero button {
  margin-left: 120px;
  padding: 10px 25px;
  /* ปรับขนาดของปุ่ม */
  background: #FF8FAB;
  background-repeat: no-repeat;
  /* ลบการทำซ้ำ */
  color: #ffffff;
  border: none;
  /* ลบเส้นขอบ */
  border-radius: 20px;
  /* ความโค้ง */
  margin-top: 20px;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;

}



#feature {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

#feature.fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}

#feature.fe-box img {
  width: 100%;
  margin: bottom 10px;
}

#feature.fe-box h6 {
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #1a1a1a;
  background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6 {
  background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6 {
  background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6 {
  background-color: #fff2e5;
}

#product1 {
  text-align: center;
}

#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span {
  color: #606063;
  font-size: 12px;
}

#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

/*สีดาว*/
#product1 .pro .des i {
  color: rgb(228, 170, 24);
  font-size: 12px;
  font-weight: 700;
}

/*ตะกร้า*/
#product1 .pro .des h4 {
  padding-top: 7px;
  color: #088178;
  font-size: 15px;
  font-weight: 700;
}

#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  border: 1px solid #cce7d0;
  color: #088178;
  position: absolute;
  bottom: 10px;
  /* ปรับตำแหน่งให้ไกล้กับขอบล่าง */
  right: 10px;
  /* ปรับตำแหน่งให้ไกล้กับขอบขวา */
}

/*footer ส่วนท้ายเว็บ*/
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
footer .logo{
  margin-bottom: 30px;
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}

footer p {
  font-size: 14px;
  margin-bottom: 0 0 8px 0;
}

footer a {
  font-size:13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .col img {
  width: 200px; /* ปรับขนาดความกว้างของโลโก้ /
  height: auto; / รักษาสัดส่วนของรูปภาพ */
}

/* Shop Page*/
#page-header {
  background-image: url("/img/banner_shop.png");
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}

#page-header h2,
#page-header p {
  color: #fff;
}

#pagination {
  text-align: center;
}

#pagination a {
  text-decoration: none;
  background-color: #088178;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}

#pagination a i {
  font-size: 16px;
  font-weight: 600;
}

#prodetails .single-pro-image {
  width: 40%;
  margin-right: 50px;
}

#prodetails .single-pro-image img {
  width: 100%;
  /* รูปภาพหลักจะทำให้กว้างเต็มรูปแบบของพื้นที่ที่กำหนด */
  height: auto;
  /* ความสูงจะปรับอัตโนมัติตามอัตราส่วน */
}

#prodetails .small-img {
  width: 100%;
  /* รูปภาพย่อยจะทำให้กว้างเต็มรูปแบบของพื้นที่ที่กำหนด */
  height: auto;
  /* ความสูงจะปรับอัตโนมัติตามอัตราส่วน */
}

.small-img-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

/* ปุ่มเพิ่มลงตะกร้า */
#prodetails {
  display: flex;
  margin-top: 20px;
}

#prodetails .single-pro-details {
  width: 50%;
  padding-top: 30px;

}

#prodetails .single-pro-details h4 {
  padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2 {
  font-size: 26px;
}


#prodetails .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;

}

#prodetails .single-pro-details input:focus {
  outline: none;
}

#prodetails .single-pro-details button {
  background: #088178;
  color: #fff;
  width: 150px;
  /* กำหนดความกว้างของปุ่ม */
  height: 50px;
  outline: none;

}

.normal {
  background: none;
  border: none;
  padding: 0;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  border-radius: 10px;
}